[2017-09-15 19:04] carlwgeorge opened #29 "man page"
### 1. What version of Caddy are you using (`caddy -version`)?
0.10.9

### 2. What are you trying to do?
`man caddy`

Having a man page available would be useful for quick reference on servers and would help comply with distro packaging guidelines.

[2019-12-10 19:53] shibumi opened #9 "Official Arch Linux package"
Hi,
I would like to bring caddy2 to the official repository.

We have caddy2 and caddy1 in the AUR (Arch Linux User repository) already. But these source is unofficial and takes unnecessary much steps for installing caddy on Arch Linux:

https://aur.archlinux.org/packages/?O=0&K=caddy

The AUR ships these packages right now:

* caddy: This version is a recipe to build caddy v1 from source
* caddy-

[2019-12-11 00:00] mholt commented on #9
Hi @shibumi, welcome to the project! :wave: We would love to have an official arch package that is endorsed by the Caddy project (and members from the community, since it's a lot of work to take on at our current size).

Thank you for providing this summary and overview, it's very helpful for me and I'm sure for others who have no idea what is out there or how this works!

That's great, let's go t

[2019-12-11 19:45] shibumi commented on #9
This is doable. The official package in our official repositories would be called `caddy` and I would rename the v1 caddy packages in the user maintained AUR.

How will those third-party plugins be bundled? Same like in caddy v1? So the only way to get those plugins would be to recompile caddy2 with a specific plugin? If yes, we would have a problem. We need to either decide to just package `caddy

[2020-04-09 21:34] mholt commented on #9
Do we need to keep this open?

[2020-04-10 09:07] shibumi commented on #9
I would like to keep this open until we have the package as stable version in the official repositories. Right now it's just a custom repository.

[2020-04-17 12:20] balki opened #21 "Deb package for Debian/Ubuntu based distros"
Ubuntu/Debian is the default OS in many VPS providers. It is nice to have a deb package for easy installation and keeping up to date. (Disclaimer: I am not familiar with debian packaging).

[2020-04-17 12:31] mholt commented on #21
Yeah, we'd love to see this too. Anyone know how to make one? Ideally we want: `apt install caddy`.

[2020-04-18 17:03] francislavoie opened #22 "Use the service file in the `init/` dir for arch"
@shibumi I noticed that the `caddy.service` file in the `archlinux/` dir is outdated compared to the one in `init/`.

Could we update this line to reference the `init/` one like `../init/caddy.service`?

https://github.com/caddyserver/dist/blob/master/archlinux/PKGBUILD#L17

See https://github.com/caddyserver/dist/pull/16 where we discussed the changes to the service files.

Also as an aside, we n

[2020-04-19 20:41] shibumi commented on #22
Hi, this are great news, I will include them in the next release.

[2020-04-19 20:41] shibumi commented on #22
@mholt can you assign this issue to me?

[2020-04-22 20:03] francislavoie commented on #21
This is almost done: https://github.com/caddyserver/caddy/pull/3280

This repo now has scripts that are part of the `.deb` https://github.com/caddyserver/dist/tree/master/scripts

[2020-04-25 19:22] Mohammed90 opened #28 "Provide Shell Completion Scripts"
Provide shell completion scripts so users get their commands completed on click of tap. I found [this tool](https://github.com/maandree/auto-auto-complete) to generate the scripts for Bash, Fish, and zsh from a single source of truth. I don't know if it meets all needs.

[2020-05-05 10:21] bestpaydeals opened #31 "Caddy 2 Installation Command Install RC3"
Hi, I used the following command on CentOS 7 to install Caddy 2:
yum install yum-plugin-copr
yum copr enable @caddy/caddy
yum install caddy

But, after installation it said RC3 installed.
So, how do I install the stable version?

[2020-05-05 18:44] mholt commented on #31
I believe @carlwgeorge will update it to the v2 release when he has a chance :)

[2020-05-05 18:46] francislavoie commented on #31
Check out the forums https://caddy.community, that question has been asked a few times! Make sure to sort by most recent to avoid finding posts for Caddy v1.

[2020-05-06 01:16] bestpaydeals commented on #31
@carlwgeorge please update that to v2 stable. Thanks.

[2020-05-06 16:39] Conan-Kudo commented on #31
It's in the process of being built...

[2020-05-07 02:53] Conan-Kudo commented on #31
This is now fixed and Caddy 2.0.0 final is available for CentOS 7+ and Fedora 31+.

[2020-05-07 02:53] #31 closed

[2020-05-07 03:28] mholt commented on #31
You guys are awesome! Thanks @Conan-Kudo !

[2020-05-07 11:47] francislavoie commented on #21
This is done as of last week, and the latest 2.0.0 stable version is now offered via a gemfury APT repo.

[2020-05-07 11:47] #21 closed

[2020-05-07 13:05] balki commented on #21
It took me some time to figure out how to install from gemfury. I will leave it below

    root@c5e9554bfd33:/# apt install ca-certificates
    root@c5e9554bfd33:/# cat > /etc/apt/sources.list.d/fury.list
    deb [trusted=yes] https://repo.fury.io/caddy/ /
    root@c5e9554bfd33:/# apt update
    root@c5e9554bfd33:/# apt install caddy

Project url: https://gemfury.com/caddy/deb:caddy
About installi

[2020-05-07 13:06] francislavoie commented on #21
The instructions are right here:

https://caddyserver.com/docs/install#debian-ubuntu-raspbian

[2020-05-07 14:47] qu5 opened #32 "Official Alpine Linux package"
Maybe `apk add caddy2` is good for caddy and alpine

[2020-05-07 14:53] francislavoie commented on #32
Sure. Would you be able to help? I think the Alpine team handles packaging themselves.

If you're looking to use this with Docker, we have an official Docker image already: https://hub.docker.com/_/caddy/

If you need to pull Caddy into an existing image, then you can just copy the binary from the official image:

[code]

[2020-05-07 15:29] jiid commented on #32
I've installed caddy2. And I want to start caddy2 when the system is launching like `rc-update add caddy2`

[2020-05-07 15:44] hairyhenderson commented on #32
@jiid to better understand your use-case, are you using Alpine Linux as a host OS (i.e. outside Docker)? That's a pretty rare use-case, so that's why we haven't done that yet. Though I've gone through the process for providing Alpine packages in the past.

Also note that there is currently a package for Caddy in Alpine: https://pkgs.alpinelinux.org/package/edge/community/x86_64/caddy

It's out-of-

[2020-05-07 15:45] hairyhenderson commented on #32
Also just a note that while I think this is the correct repo for this discussion, the `APKBUILD` itself will not reside here, it'll need to be in Alpine's `aports` repo (https://gitlab.alpinelinux.org/alpine/aports).

[2020-05-11 20:14] #28 closed

[2020-05-11 21:47] Mohammed90 commented on #32
I've just emailed the person listed as the maintainers of the Caddy package on Alpine to arrange for the update. 🤞

[2020-05-13 18:10] Mohammed90 commented on #32
Apparently gmail retries for a day or so and now says the email to the Alpine package maintainer bounced. 😕

[2020-05-15 20:12] Mohammed90 commented on #32
I found this guide for anyone who'd like to take it up:

https://github.com/alpinelinux/aports/blob/master/.github/CONTRIBUTING.md

[2020-05-15 20:23] maxice8 commented on #32
GitHub is deprecated and PRs will be auto-closed by a bot, one must use gitlab.alpinelinux.org to contribute

[2020-05-19 21:20] Mohammed90 commented on #32
@maxice8, we have a situation where the Caddyfile syntax v2 isn't 100% compatible with v1. I believe simply upgrading the APKBUILD will break users' setup, right? What's Alpine strategy around handling breaking upgrades?

[2020-05-19 21:28] maxice8 commented on #32
There are various ways to do it and it depends on discussion between the developers, out of the top of my head we can:

1. Align the upgrade with a release from Alpine Linux (3.12 is coming very soon), we can make `caddy` the v2 package, and have a caddy1 for people that need it (we also add it to the release notes so users know how to adjust their Dockerfiles and other orchestration instruments)

[2020-05-19 21:50] Mohammed90 commented on #32
This option is the best for us to ensure users move towards v2 as they upgrade their distro. It'd be great if you can do the MR for that.
We sort of fall into [situation 1 of the Go packaging policy](https://wiki.alpinelinux.org/wiki/APKBUILD_examples:Go). However, reproducible builds can be ensured (I believe, as far as Go can go) using the Caddy builder tool, [xcaddy](https://github.com/caddyser

[2020-05-19 21:57] mholt commented on #32
I also strongly prefer option 1 -- where `caddy` refers to v2, and another package name refers to v1 if needed.

I will ping the rest of our @caddyserver/deployment-ops team to see if they have any strong feelings in opposition to option 1.

[2020-05-19 22:21] Conan-Kudo commented on #32
If the distribution in question has a sophisticated mechanism of doing package rename transitions, then Option 1 is good.

e.g., in RPM terms, caddy1 `Obsoletes: caddy < 2.0.0` and `caddy` moves forward to 2.0.0. In this scenario, upgrades from old `caddy` will transition to `caddy1`, and `caddy` becomes free to use for version 2.

Not all distribution package managers are capable of this. I _beli

[2020-05-19 22:26] maxice8 commented on #32
I don't believe apk has any equivalent to `Obsoletes:`

[2020-05-19 22:28] Conan-Kudo commented on #32
@maxice8 Is the `replaces` stanza in APKBUILD not powerful enough? Or is it that versioned declarations don't work at all? I wasn't sure if there's such a concept because I've never seen anyone do it.

[2020-05-19 22:34] maxice8 commented on #32
Can't positively confirm that it can't be used but i don't see any usage of it in aports.

Also i think people will be upgraded straight to `2.0.0`

[2020-05-19 22:35] Conan-Kudo commented on #32
Then you'll need to ship caddy v2 as `caddy2` to keep it from breaking people and let them know accordingly.

[2020-05-19 22:40] maxice8 commented on #32
I see but we will still need to switch caddy to 2.0.0 at one point, can't we just do it in a release since that is the point where we(Alpine Linux) are free break stuff

[2020-05-19 22:41] mholt commented on #32
Yes, let's please "break" stuff while we have the chance. :) It's very important to get people on v2 instead of v1. Especially now that the packages can be officially sanctioned, whereas they weren't before.

[2020-05-19 22:42] maxice8 commented on #32
If we don't get it in by 3.12 then we will need to wait another 6 months to get 3.13 to have caddy v2 in a **stable** alpine version

[2020-05-19 22:58] mholt commented on #32
What should I do at this point to get it in 3.12? Do we just need to have a maintainer? (I don't think it can be me, I have no experience or extra time for it...)

[2020-05-19 23:05] maxice8 commented on #32
1. We need to update to to 1.14.3 (we are on 1.13.x)
2. Needs someone to be maintainer for community/caddy and also community/caddy1

[2020-05-19 23:28] maxice8 commented on #32
caddy 2.0.0 needs go 1.14.0 (or higher) which currently has problems with MIPS on Alpine Linux, if anyone that wants it included can have a big impact if they help in getting go 1.14.3 into Alpine Linux before the 3.12 deadline.

#alpine-devel in Freenode IRC

[2020-05-19 23:49] Mohammed90 commented on #32
I see an open MR for Go 1.14.3 whose build passes on all the listed build platforms: https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/8099/pipelines

MIPGS isn't listed on there though

[2020-05-19 23:55] maxice8 commented on #32
That is from me, unforunately Gitlab CI still doesn't test mips, if you look at the builders in build.alpinelinux.org you will see mips64

[2020-05-20 00:09] carlwgeorge commented on #32
That's incorrect.  yum and dnf dependency resolution evaluates regular (same name) updates before evaluating obsoletes.  In that scenario, caddy 1.x.x installations would update to caddy 2.x.x, and a caddy1 package would only be in the upgrade path if users excluded caddy from the transaction, or explicitly asked for it.

[2020-05-20 00:16] Mohammed90 commented on #32
Is it related to this https://github.com/golang/go/issues/38454 ? The milestone on that bug report is 1.15, which is a bit discouraging.

[2020-05-20 01:40] maxice8 commented on #32
unfortunately that is exactly it, the OP in that issue is also responsible for mips64 in Alpine Linux

[2020-05-21 18:50] mholt commented on #32
If it's really urgent, I can let my business email be the contact for this package, but I can't guarantee I'll know how to maintain it. i.e. my replies will probably be something like "Thanks -- we are looking for a maintainer. Care to help?"

[2020-05-21 18:58] maxice8 commented on #32
I found someone that might be willing, the problem holding this all up is go 1.14.x  not yet working on Alpine Linux MIPS64

[2020-05-29 17:29] GalacticLion7 opened #37 "Add MIPS arch build target to release pipeline"
Something like `opkg install caddy` would be really great.

[2020-06-06 19:50] recklessnl opened #38 "caddy.service error INVALIDARGUMENT"
This is running in an LXC container, only purpose is Caddy, so running as root user.
[code]

This is in `/etc/systemd/system/caddy.service`:
[code]

Running the command listed at ExecStart manually after boot works just fine.

Caddyfile:

[code]

[2020-06-06 20:32] Mohammed90 commented on #38
Can you share how you're setting up and running the LXC container? From the error message and reading the relevant code in the Go runtime (as per the error, it is yet to call Caddy's main), it isn't able to achieve something with the system stack.

[Line 132-136](https://golang.org/src/runtime/proc.go)
[code]

[Line 1031-1041:](https://golang.org/src/runtime/proc.go)
[code]

[2020-06-07 03:30] recklessnl commented on #38
I'm running it as an unpriviliged LXC container on Proxmox 6.2. If I run the same command when SSH'ed in it works just fine though.

[2020-06-23 11:18] drcongo commented on #21
Sorry to comment in a closed thread, but I've got a couple of issues with the gemfury installation.

1. It installed a zero byte Caddy binary at `/usr/local/bin/caddy`
2. It installs a service file pointing to `/usr/bin/caddy`

The second one is not much of a problem, I can just overwrite the service file. But I'm not sure how to get around the first one, @francislavoie any ideas?

[2020-06-23 15:01] francislavoie commented on #21
@drcongo I have no idea how that could've happened. I see no mention in the .deb of `/usr/local/bin`. Could you please post a thread on the forums with as much detail as possible so we can investigate further? This is the first I've heard of an issue like this.

https://caddy.community

[2020-06-24 08:01] drcongo commented on #21
I was writing an Ansible role to install Caddy when this happened, and since switched the role to just install with a binary from GitHub. Once I've got my head around the new Caddyfile I'll see if I can reproduce it on a clean server and start a thread over on the forums if so. Thanks.

[2020-06-30 14:19] denisbrodbeck opened #39 "Caddy v2.1 release missing in CentOS COPR"
Hi,

I hope this is the right project for this issue. I tried installing the latest Caddy 2.1 release, but noticed that COPR hasn't been updated since end of may ([copr](https://copr.fedorainfracloud.org/coprs/g/caddy/caddy/build/1414074/)).

Could somebody trigger a build, so it gets available CentOS 8?

Thank you very much for Caddy!

[2020-06-30 14:35] francislavoie commented on #39
Yeah, the release process for COPR is separate from the rest and isn't automated.

Paging @Conan-Kudo and @carlwgeorge for when they have time to cut a release for v2.1 :smile:

(Just as a note, there was a regression in v2.1.0, we'll be making a v2.1.1 release very soon.)

[2020-06-30 14:44] denisbrodbeck commented on #39
@francislavoie I'm cool with that, thanks for the news 👍

[2020-07-08 04:16] tenten8401 commented on #39
Since 2.1.1 is out now can someone manually trigger a build on copr now?
Hoping to use the new release but don't want to bypass the package manager to do so.

Thanks :)

[2020-07-08 11:14] Conan-Kudo commented on #39
Working on it now. 👍

[2020-07-08 16:43] tenten8401 commented on #39
Seems to be good now, updated to 2.1.1 on my server. Issue can probably be closed now.

[2020-07-08 16:46] #39 closed

[2020-07-12 11:21] RickyBubbles opened #40 "Digital Ocean droplet doesn’t work"
The pre-configured digital ocean droplet maintained by the project does not work. It simply loads blank pages.

It also does not answer requests via https or on port 443.

[2020-07-12 11:45] Mohammed90 commented on #40
Thank you for the report. However, the issue is not reproducible. As a proof, here's a droplet of the image deployed a few minutes ago to verify the issue, and it's working fine. Visit it here:

[http://206.189.134.81](http://206.189.134.81)

![Screenshot_20200712-144356_Chrome.jpg](https://user-images.githubusercontent.com/2636183/87245464-26764600-c44e-11ea-9030-401cbf7079b1.jpg)

[2020-07-12 11:47] francislavoie commented on #40
We'll need more information than you've provided to confirm any kind of issue.

Ideally, we need to be able to reproduce the bug _in the most minimal way possible_. This allows us to write regression tests to verify the fix is working. If we can't reproduce it, then you'll have to test our changes for us until it's fixed -- and then we can't add test cases, either.

I've attached a template below

[2020-07-12 11:53] RickyBubbles commented on #40
Did you modify the caddyfile in any way?
I guess I could have been more specific and stated that simply spinning up the droplet does not create a usable server.

[2020-07-12 11:56] francislavoie commented on #40
The server at http://206.189.134.81 is using the default Caddyfile, which only listens on port 80

https://github.com/caddyserver/dist/blob/master/config/Caddyfile

[2020-07-12 11:58] #40 closed

[2020-07-12 19:08] mholt commented on #40
I am also unable to reproduce this problem. Can you post a video (without any cuts) of creating the droplet and then loading the IP and showing how it only shows a blank page?

Right, the instructions tell you how to get this.

[2020-07-18 07:03] maxice8 commented on #32
Good news: caddy 2 is in as `caddy`, caddy 1 now lives as `caddy1`

Bad news: it only arrived in Edge as 3.12 is already released

Good news: It only needs libc so it is very possible that you can add a pinned edge repo and install it basically as standalone.

[2020-07-20 16:09] hairyhenderson commented on #32
Why does it need `libc`? The official binaries are compiled with `CGO_ENABLED=0`, so maybe that's a change that needs to happen to the package 🤔

[2020-07-24 00:28] maxice8 commented on #32
I'll open an issue on our GitLab instance.

[2020-08-12 11:01] Addvilz opened #42 "GPG signed releases - reconsider gemfury?"
Current official DEB repo does not provide GPG signed releases file, making it impossible to verify the authenticity of the repository. It seems that gemfury has no support for GPG signed releases file at all, so perhaps it would make sense to consider another provider - as this is a pretty essential thing to have?

There are certainly plenty of options to choose from. I have previously used Cloud

[2020-08-12 11:07] francislavoie commented on #42
We considered our options and went with Gemfury because they gave us good support and GPG signing is marked as an upcoming feature. I'd rather wait for them to implement it than switch.

I also think that GPG signing is not that much of a concern right now, the attack surface is pretty low. No matter what, you would still need to trust that the Caddy project produced good binaries. GPG doesn't rea

[2020-08-12 12:21] Addvilz commented on #42
Correct. But it does help to ensure that nothing in between me and the publisher repo is compromised and it is actually you who published these packages - at the very least someone who has access to the repo. Consider that APT repos are not always accessed directly from publisher repo, they are also often mirrored locally, there are intermediate caches and all kinds of interesting bits in between.

[2020-08-12 12:27] francislavoie commented on #42
Gemfury uses HTTPS so tampering is much more difficult.

True, but that's not really under our control. You need to trust the caches used as well.

😬 🤷‍♂️

Anyways I'll just say this is low priority because there are better uses of our time since we have a solution that works.

[2020-08-12 12:32] Addvilz commented on #42
Just to clarify that.

That's the thing, you don't need to trust the cache/mirror. You only need to have your GPG key present locally to ensure the repo comes from upstream. Mirrors basically serve as static proxies. They do not re-sign packages (or repos in this case), they only serve and mirror files you already have signed. Thus it might as well be evil hackzorz mirroring the repo, there is not

[2020-08-14 16:52] lskillen commented on #42
Hey folks! I didn't want to stomp in here if @francislavoie and co are using Gemfury, and happy with it; but just wanted to say that yes, we calculate checksums and signatures for _all_ packages that pass through @cloudsmith-io. I think in the case of Ruby, what we don't do is actually embed the new signature in the gem, but if that was of interest of anyone we'd be happy to do it as a matter of p

[2020-09-20 22:28] GalacticLion7 commented on #37
Considering the fact that routers use various different architectures, can Caddy can work with any `GOARCH` architecture?

[2020-09-20 22:31] francislavoie commented on #37
We build Caddy releases for a pretty big range of arches, you can find them here: https://github.com/caddyserver/caddy/releases (expand the Assets section)

It might work on other arches, but we can't guarantee support because we don't build for them.

[2020-09-25 22:51] mholt commented on #37
@GalacticLion7 Would you be willing to maintain the package? If so, let us know what you need and we'll be happy to have it. Otherwise, I guess I'll close the issue... (no one on our team I'm aware of uses Caddy with OpenWrt)

[2020-09-26 23:19] Conan-Kudo commented on #42
This is not generally true for Debian repository mirrors with tools like `reprepro` and `aptly`. Metadata is not preserved and is fully regenerated by the tool itself, and the repository metadata is obviously resigned with your local key.

[2020-09-26 23:49] Addvilz commented on #42
I can not attest to all the possible configurations of all the mirrors and all the mirroring solutions out there, but I do not believe that what you suggest is the general case except for select use cases ex. private multi-mirrors of several upstreams, partial mirrors etc.

The reason behind that is that if every mirror and caching proxy would discard and regenerate metadata, you would have to dis

[2020-09-27 00:11] Conan-Kudo commented on #42
I do not disagree with you, I'm just pointing out that people who use `aptly` or `reprepro` for automatic mirroring also automatically lose any upstream repo guarantees.

[2020-09-27 17:29] GalacticLion7 commented on #37
@mholt sure, this is what I was intending. All I need are official releases of Caddy for the MIPS arches on Linux.

[2020-09-28 17:05] mholt commented on #37
@GalacticLion7 Ah I see, yeah that would be great if you could. @francislavoie It should be pretty easy to add mips to our build targets right?

[2020-09-28 17:07] francislavoie commented on #37
Yeah I think so. I think we can do that before the next release. I'll try the cross-build locally real quick to make sure it at least produces a binary.

[2020-10-15 09:55] jotteerr opened #47 "Why user/group 'caddy' instead of standard 'www-data' in Debian package?"
Hi,

all webservers on debian systems (at least from official repositories) are running as user 'www-data'. In the Caddy Debian package it's 'caddy', per systemd service file.

IMO it would be better to adhere to Debian standards, if only to make it easier to switch from/to another webserver. F. ex. as a former nginx user, all my web pages are owned by www-data. Of course it's no much work to chow

[2020-10-15 10:00] francislavoie commented on #47
The debian package adds the Caddy user to the www-data group so it shouldn't be an issue.

The reason is more for isolation of secrets, basically, since the `caddy` user manages certs and keys.

[2020-10-27 10:25] kozicpetar opened #48 "Ubuntu repository from Documentation don't work anymore"
I used repository from documentation for installation of Caddy.

[code]
from this page:
https://caddyserver.com/docs/download

but now `apt update` ignore everything about that repo.
Also, if I try to open `https://apt.fury.io` looks down?

Some other repo or info?
Thank you.

[2020-10-27 11:33] francislavoie commented on #48
https://apt.fury.io is not meant to be accessible in a browser.

Did you upgrade Ubuntu to 20.10 recently? Whenever you upgrade, Ubuntu usually  disables all existing unofficial package sources just to be safe. You'll need to manually re-enable them.

To do that, go look in the files in `/etc/apt/sources.list.d` and check that they weren't commented out with a leading `#`. If they were, remove tha

[2020-10-27 13:17] kozicpetar commented on #48
Hi @francislavoie,
thanks on answer.

No, that is Ubuntu 18.04, not upgraded.

[2020-10-27 13:18] kozicpetar commented on #48
Ok, than problem is on my side. Thank you.

[2020-10-27 13:18] #48 closed

[2020-10-30 19:57] dketterer opened #49 "Publish .deb packages to Cloudsmith"
Hi!

**so the issue is with the Debian ppa on [gemfury](https://gemfury.com/caddy/deb:caddy)**.

It provides no _InRelease_ or _Release_ file. This file must contain a _origin_ field (and maybe some others) so that [unattended-upgrades](https://wiki.debian.org/UnattendedUpgrades) can reference this as a "source" to which the auto updates are applied.

In Detail:

The [Debian Repository Format](htt

[2020-10-31 22:17] francislavoie commented on #47
I'll close this as answered.

[2020-10-31 22:17] #47 closed

[2020-10-31 22:18] francislavoie commented on #37
@GalacticLion7 Do you know which of those arches you need? ☝️

[2020-11-01 07:39] francislavoie commented on #49
Thanks!

We're evaluating whether https://cloudsmith.io can serve us better, how exactly could I find out whether it supports what you need? I'm not sure what to look for.

[2020-11-01 09:19] dketterer commented on #49
I looked at this [cloudsmith doc page](https://help.cloudsmith.io/docs/debian-repository) but I am not able to tell from this. I also tried to find a working example from cloudsmith but was unsuccessful.

Maybe have a look at the structure of the [debian repo of Jitsi](https://download.jitsi.org/stable/): and their [installation instructions](https://jitsi.org/downloads/ubuntu-debian-installations

[2020-11-01 14:22] francislavoie commented on #49
Alright, well we have our latest version uploaded to cloudsmith if you'd like to give it a shot.

https://cloudsmith.io/~caddy/repos/caddy/setup/#formats-deb

I can't figure out how to download the `InRelease` file from a browser, I'm getting 404s for all the URLs I've tried (many of them) so 🤷‍♂️, maybe you could figure out how to construct the URL properly.

Re signing, see #42.

Cloudsmith auto

[2020-11-01 14:44] lskillen commented on #49
Folks:
https://dl.cloudsmith.io/public/caddy/caddy/deb/ubuntu/dists/focal/InRelease

Happy to help with questions over here! ;) You can contact support via Intercom at anytime too.

[2020-11-01 14:47] francislavoie commented on #49
Thanks @lskillen I have no idea how I didn't hit that one, I tried all kinds of similar combinations 🙈

[2020-11-01 15:17] lskillen commented on #49
Ha! It can be inscrutable unless you know what you're looking for. We have (short-term) plans to add a simple file listing index view for things like the debian (and other) indexes, but documenting helps. To break it down:

https://dl.cloudsmith.io/public/caddy/caddy/deb/ubuntu/dists/focal/InRelease

Parts defined by Cloudsmith:

- `https://dl.cloudsmith.io/` - Our download domain, of course, and

[2020-11-01 15:19] dketterer commented on #49
So those are the Properties right now:

[code]

Maybe you can set Origin to _caddy_ and label to something more meaningful like _stable_ for the case that there might be a _unstable_ release in the future.

I am satisfied with this signing solution. I guess you could copy this public key from cloudsmith and still place it somewhere on caddyserver.com for folks like me who like it a bit more bullet

[2020-11-01 15:26] lskillen commented on #49
Changing the `Origin` and `Label` would be a feature request, but do-able. ;-) At the moment these are auto-generated based on where the repository comes from (the origin), and how the repository is accessed (label). So they're more-or-less static, but I can understand wanting to customise them. Just need to be aware that changing them after-the-fact breaks clients because the apt client stores th

[2020-11-01 15:42] francislavoie commented on #49
That's great @lskillen, thanks for the rundown.

Yeah, I think having it in https://help.cloudsmith.io/docs/debian-repository would be great. It's where I looked first to try and figure out the structure.

Yeah that's the plan, once we've got everything in place.

Interesting, yeah we might do that. Right now, we skip uploading to gemfury on releases with a special tag (see https://github.com/cadd

[2020-11-02 04:12] francislavoie commented on #49
Alright I just made these repos:

- https://dl.cloudsmith.io/public/caddy/stable/deb/ubuntu/dists/focal/InRelease

- https://dl.cloudsmith.io/public/caddy/unstable/deb/ubuntu/dists/focal/InRelease

Might rename `unstable` to `testing` before we start advertising it. TBD.

[2020-11-24 01:06] Xinayder opened #50 "Script to package .deb"
Would it be possible to have in this repo the script that creates the `.deb` package?

I want to provide a custom Caddy build with plugins and update my installation on my server with the package instead of having to do it manually.

[2020-11-24 01:10] francislavoie commented on #50
We use [goreleaser](https://github.com/goreleaser/goreleaser) for this:

https://github.com/caddyserver/caddy/blob/master/.goreleaser.yml#L71

The only thing that changes in the `.deb` between releases really, is the `caddy` binary itself. You could just pin the `.deb` to some specific version, then just replace the `caddy` binary at `/usr/bin/caddy` on your system whenever you need to.

We'll eve

[2020-11-24 01:10] #50 closed

[2020-12-02 12:03] dketterer commented on #49
Sorry closed to fast, I keep this open until the [install instructions](https://caddyserver.com/docs/download#debian-ubuntu-raspbian) are updated.

[2020-12-12 16:16] majkinetor opened #51 "FYI: Chocolatey package"
I created automatic chocolaty package which follows your releases.

* https://chocolatey.org/packages/caddy

I will continue maintaining the package as I already have infrastructure for that job setup. The code for the package is [here](https://github.com/majkinetor/au-packages/tree/master/caddy).

As a stable package with complete version history, you might want to mention it in the install optio

[2020-12-12 19:17] mholt commented on #51
Awesome, thanks for maintaining this!

I'll update our docs to include this. :+1:

If you think it'd be helpful to be in our developer Slack (we have a handful of distro/pkg maintainers and a channel dedicated to distribution), let me know which email to send an invite to.

[2020-12-12 19:29] #51 closed

[2020-12-28 21:58] francislavoie commented on #49
Okay I just renamed the other one to `testing`

`https://dl.cloudsmith.io/public/caddy/unstable/deb/ubuntu/dists/focal/InRelease`

[2020-12-28 22:40] francislavoie commented on #49
@lskillen https://github.com/caddyserver/caddy/pull/3941 FYI if you'd like to take a peek?

I opted to use the CLI tool directly rather than using the cloudsmith github action, because we have a bunch of files to upload and it seemed easier to do that way.

I've been setting `any-distro/any-version` on the cloudsmith web UI when uploading packages. Should I be adding `--tags "any-distro/any-versio

[2020-12-29 21:25] francislavoie commented on #49
@lskillen it seems that uploading a custom GPG key requires a paid plan?

Looking at https://cloudsmith.io/~caddy/repos/stable/settings/, I see:

[2020-12-29 23:44] lskillen commented on #49
@francislavoie

Checked out caddyserver/caddy#3941 and it looks good to me. 👍 No issues with not using the GitHub action. We're (in the new year) going to release a "Setup CLI" action that preps an environment for you, but you're certainly free to roll you're own.

For the custom GPG key, no sweat. It works because, by default, we offer Team-based plan features and free storage/bandwidth to all OS

[2020-12-30 03:15] mholt commented on #49
@lskillen That's very generous -- thank you. We'd be happy to promote Cloudsmith as our preferred distributor for our Debian packages.

We'll get a badge added to the README as soon as we get a chance (kind of swamped catching up on things over the holidays, and prepping the 2.3 release which I hope will use Cloudsmith.)

[2020-12-30 03:34] francislavoie commented on #49
Added the attribution in the README to my PR: https://github.com/caddyserver/caddy/pull/3941/files?short_path=b335630#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5

[2020-12-30 16:55] francislavoie commented on #42
Closing in favour of #49 where this will be resolved. We'll continue to publish our .deb to Gemfury for the forseeable future (there's no harm to do so) but we'll now also publish to Cloudsmith which gives us some nice extra features, including GPG signing.

[2020-12-30 16:55] #42 closed

[2020-12-30 18:37] francislavoie commented on #49
As a test run, we released the .deb for `xcaddy` v0.1.7, pushed to Cloudsmith via CI. Worked! (Took a couple re-runs cause we forgot a couple things but I digress)

https://github.com/caddyserver/xcaddy/runs/1627308051

https://cloudsmith.io/~caddy/repos/xcaddy/packages/

[2020-12-30 21:22] francislavoie commented on #49
Alright, we got signed builds of Caddy https://cloudsmith.io/~caddy/repos/testing/packages/ (that's the testing repo, stable release coming in the next few days)

Only loose end to tie up is updating the docs to recommend using Cloudsmith instead of Gemfury.

[2020-12-30 21:39] francislavoie commented on #49
@lskillen the install instructions we think we'll go with for https://caddyserver.com/docs/download

[code]

My concern is with the `?distro=ubuntu&codename=xenial` bit. Since we're shipping a Go binary, we don't care what distro/codename it's installed on.

So I have a feature request; would it be possible to make `https://dl.cloudsmith.io/public/caddy/stable/cfg/setup/config.deb.txt` serve a lis

[2020-12-30 23:36] lskillen commented on #49
🚀

Ha! We were talking about that just yesterday with someone else. It partially works now, in that you can specify:

[code]

Just that the distribution part, or `debian` in the example above, is still required; but maybe this ^^^ example is a bit less confusing because it mentions `debian` instead of `ubuntu`?

We'll be looking to see if we can support using `any-distro` for client-side configura

[2020-12-30 23:39] francislavoie commented on #49
Cool, yeah that helps. Would be great if omitting the query would have that same behaviour :+1:

[2020-12-30 23:41] lskillen commented on #49
Not a bad idea! I'm sure there are caveats that I haven't thought through, so I'd need to check with the team. You'll probably not be too surprised to know that package management is _filled_ with caveats and odd edge-case behaviour that makes handling things universally, a lot of "fun". 😂 Our job is smooth over those, though!

[2020-12-31 00:24] mholt commented on #49
@lskillen Thanks for being so great to work with so far -- appreciate your help. Getting set up was a breeze.

[2020-12-31 12:44] lskillen commented on #49
Glad to hear it, and you're very welcome! The team is very excited about having you on-board. Looking forward to helping you with package management for 2021 and beyond. 😁 If there's anything we can do to help, just shout here or Intercom (latter probably easier since you'll get access to the full team). Other than that, hope y'all have a Happy New Year!

[2020-12-31 15:48] Addvilz commented on #42
Niiice, thanks @francislavoie and @lskillen!

[2021-01-01 02:30] francislavoie commented on #49
Alright, this is done! Closing.

https://github.com/caddyserver/caddy/releases/tag/v2.3.0

https://caddyserver.com/docs/install#debian-ubuntu-raspbian

To switch from Gemfury, you just need to delete your old list file, then use the steps above:

[code]

[2021-01-01 02:30] #49 closed

[2021-01-05 15:59] dketterer commented on #49
For anyone coming across this and searching for the correct setup in unattended-upgrades in Ubuntu 20.04:

`/etc/apt/apt.conf.d/50unattended-upgrades`:

[code]

As Debian 10 has the Origins-Pattern section in this file per default, the solution there is:

[code]

[2021-01-23 00:00] NetOperatorWibby opened #53 "Unable to SFTP into server"
My experience is primarily with nginx but I'm trying out Caddy for a new project. For some reason, I am unable to SFTP into my server.

For reference, I'm using DigitalOcean and I initiated the server with my SSH credentials.

[2021-01-23 00:22] Mohammed90 commented on #53
The hardening we implement disables SFTP by default. We can enable it by adding `sftp_enabled: true` here:
https://github.com/caddyserver/dist/blob/e784a6dd41d1cd4f72de2a427961bfb097b72cf9/packer/ansible/ansible-playbook.yml#L6-L15

[2021-01-23 00:40] NetOperatorWibby commented on #53
There's nothing I can put in my Caddyfile to enable it? I don't know how I'd access this Ansible config within my server.

[2021-01-23 00:45] mholt commented on #53
The Caddyfile configures Caddy, it does not configure your Linux system. It'll have to be enabled outside of Caddy. It has nothing to do with Caddy.

[2021-01-23 00:46] NetOperatorWibby commented on #53
Ah got it. Unfortunate.

[2021-01-23 00:48] mholt commented on #53
... do you want us to enable it? (You closed the issue, so I'm not sure if you've given up and there's nothing we need to do, or...)

[2021-01-23 00:50] NetOperatorWibby commented on #53
I would like to have it enabled but it seemed like "that's just how it is, womp."

[2021-01-23 00:54] Mohammed90 commented on #53
Not really. In fact, we started discussing enabling it based on your issue immediately after my reply pointing out where the disablement comes from and how it can be changed. Part of the hardening approach is to minimize the unneeded functions enabled on the server to reduce the exposure area. If SFTP is something commonly needed (haven't had anyone else request it since we published the image, al

[2021-01-23 00:59] NetOperatorWibby commented on #53
Oh okay! I'm certainly not used to this kind of openness on projects that have been around for a bit. Sounds good.

[2021-01-23 01:58] Mohammed90 commented on #53
For now, the most minimal way to enable it is to add this line in the `/etc/ssh/sshd_config` file:
`Subsystem sftp internal-sftp`

Then restart the sshd service using `sudo systemctl restart sshd.service`. You can append [any of the flags listed here](https://manpages.debian.org/stretch/openssh-sftp-server/sftp-server.8.en.html) to `internal-sftp`. For example:
`Subsystem sftp internal-sftp -l INF

[2021-01-23 07:23] NetOperatorWibby commented on #53
This works swimmingly, thanks!

[2021-02-17 11:08] caquino opened #54 "Allow suplementary package files to be used with custom caddy binaries."
Hi,

First of all, thanks for the great work on caddy.

I would like to start by saying that the current packaging solution is really appreciated and solves the problem of most users, and this issue aims in proposing a solution to also bring the work in packaging to the users building custom binaries.

My experience in packaging software is limited, the intention of this proposal is to bring the c

[2021-02-20 15:02] francislavoie commented on #54
After a bit more discussion I think I'm leaning towards the `dpkg-divert` option because we don't need to do anything extra. We can add it to the docs in https://caddyserver.com/docs/install#debian-ubuntu-raspbian to mention that it can be used to swap out the active binary with a custom one.

/cc @Mohammed90 @mholt, do you guys have any objections?

[2021-02-24 10:08] hvisage opened #56 "Feature request: make configfile editable outside of the services file"
Good day,

 I've create PR 55 https://github.com/caddyserver/dist/pull/55 as a possible solution/method to allow for a `/etc/default/caddy` file where you specify the configfile that caddy should use, instead of editing the systemd services' file.

[2021-02-24 15:52] carlwgeorge commented on #54
I don't know if it's possible with debs but in rpm you can have a package own a file but not verify the checksum.  Somebody could create an xcaddy package that owns all the supporting files, the xcaddy binary, and the caddy binary as a "ghost" file (ok to be missing) with no checksum verification.  That would allow a user to install xcaddy, generate a caddy binary with their plugins, and then have

[2021-02-24 15:57] carlwgeorge commented on #56
Closing as we've discussed and declined in #55.

[2021-02-24 15:57] #56 closed

[2021-02-24 15:58] francislavoie commented on #56
The right way is to use `systemctl edit` or systemd's built-in override mechanism: https://github.com/caddyserver/dist/pull/55#issuecomment-785167432

[2021-02-24 16:03] francislavoie commented on #54
I don't think ghost files work for deb, seems like an rpm exclusive concept. I was reading about that in the goreleaser docs.

Also FYI @carlwgeorge we do have a deb package for xcaddy in Cloudsmith now, but it just ships that binary.

I'd rather go with an option that doesn't change the packaging, frankly, which is why I think the dpkg-divert approach is best here for the deb at least. Do you hav

[2021-02-24 18:08] carlwgeorge commented on #54
I don't think there is a dpkg-divert equivalent for rpm.  Rpm does have update-alternatives, but personally I don't care for it.  I agree that the rpm and deb solutions don't need to match 100%, but using a similar approach would be useful.  I see the value in having xcaddy contain all the supporting files.  We could do that for both the deb and rpm, and then additionally the rpm can ghost-own `/u

[2021-05-09 21:09] francislavoie commented on #22
Arch files are removed as per the discussion in https://github.com/caddyserver/dist/pull/58, so I'll close this.

[2021-05-09 21:09] #22 closed

[2021-05-09 21:09] francislavoie commented on #9
Arch files are removed from here as per https://github.com/caddyserver/dist/pull/58, and the official arch repo now exists, so this is done.

[2021-05-09 21:09] #9 closed

[2021-05-09 21:10] francislavoie commented on #38
Closing this as inactive.

[2021-05-09 21:10] #38 closed

[2021-05-13 18:29] mlcdf opened #62 "Missing package for armv6 on the apt repository"
Hi,

I tried to install Caddy via `apt` on a Raspberry Pi 1+ according to the [official docs](https://caddyserver.com/docs/install#debian-ubuntu-raspbian). The install itself works, but the binary won't run because it doesn't match the architecture:

[code]

Same problem when downloading and installing by hand the [armhf](https://dl.cloudsmith.io/public/caddy/stable/deb/any-distro/pool/any-version

[2021-05-13 19:12] francislavoie commented on #62
The problem is that from the debian repo perspective, `armv6` and `armv7` are both `armhf`. It's not possible for us to serve both, so we picked the newer one. Unfortunately, you happen to use a device which uses the older one.

https://github.com/caddyserver/caddy/blob/2aefe156869851a89d7a34e28c3e4ff3ac442fff/.github/workflows/release.yml#L146-L150

Best you can do is download the .deb directly f

[2021-05-13 19:14] #62 closed

[2021-05-13 23:13] mlcdf commented on #62
Hello Francis,

Oh right, I see. Thank you very much for the explanation :)

[2021-05-29 11:35] udf2457 opened #63 "Caddy not restarting after reboot on Debian 10"
Using Caddy from sourcesmith (deb https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version main) on Debian 10.9, I am finding it is not restarting automatically after reboot.

If I restart the machine, caddy is not running.

If I then run `sudo systemctl start caddy` caddy starts and runs with no errors (i.e. proving there is no fault with my configuration file or my installation)

If I

[2021-06-04 07:06] losuler opened #65 "Add openSUSE Leap 15.3 build target to Copr"
openSUSE Leap 15.3 was released recently<sup>[[1]](https://news.opensuse.org/2021/06/02/opensuse-leap-bridges-path-to-enterprise/)</sup> so I was hoping the build target could be added to the Caddy Copr repo<sup>[[2]](https://copr.fedorainfracloud.org/coprs/g/caddy/caddy/)</sup> so it will be compatible with openSUSE Leap 15.3.

<sup>[1]</sup> https://news.opensuse.org/2021/06/02/opensuse-leap-bri

[2021-06-04 13:19] francislavoie commented on #65
/cc @carlwgeorge

[2021-06-04 20:12] carlwgeorge commented on #65
I added Leap 15.3 in the settings for future builds, and tried to rebuild the latest build for it.  Unfortunately [it failed to initialize the chroot](https://copr.fedorainfracloud.org/coprs/g/caddy/caddy/build/2225978/).  I don't know much about SUSE, that's @Conan-Kudo's thing.  Looks like he's tracking it over in https://github.com/rpm-software-management/mock/issues/731.

[2021-06-05 00:12] Mohammed90 commented on #63
I can't replicate it. I've deployed a fresh Debian 10 server, installed Caddy, rebooted it few times, and no issues of the same. Do you have custom systemd unit file besides the one shipped with the package?

[2021-06-07 14:44] flawedworld opened #66 "Require mailcap as a dependency for caddy repository packages"
Caddy uses the distribution provided /etc/mime.types file to set Content-Type headers on files, however not all systems ship with /etc/mime.types by default which is packaged as part of mailcap. Caddy packages from the official repositories do not require this package currently. Without this package, files may be sent to browsers without a Content-Type header. For example out of the box without ma

[2021-06-07 14:48] francislavoie commented on #66
I don't think we want to take on the burden of bundling our own. I think it's better to rely on whatever the system has for you.

/cc @carlwgeorge for the RPM package; I'll look into this for the DEB.

[2021-06-07 15:09] flawedworld commented on #66
@francislavoie on Debian 11 this file is provided by the media-types package and on Ubuntu 20.04 by the mime-support package

[2021-06-07 15:10] francislavoie commented on #66
So that's the trouble, the `.deb` we ship is distro-less. That's the risk in adding a `require` to it, cause if the distro doesn't ship something with that exact name, installing Caddy would fail.

[2021-06-07 15:36] flawedworld commented on #66
On RPM packaging this should not be an issue as you can conditionally require dependencies based on the distribution.
See: https://docs.fedoraproject.org/en-US/packaging-guidelines/DistTag/

Unsure about DEB packaging. Debian does provide a transitional package meaning you could just require ```mime-support``` and it would work on all currently supported version of Ubuntu and Debian.

[2021-06-08 08:54] Conan-Kudo commented on #65
This should be taken care of with the next mock-core-configs release, which will have my fix for this (https://github.com/rpm-software-management/mock/commit/32f0547afe5af3e35f9d911fe5e620017752384c).

[2021-06-08 13:20] udf2457 commented on #63
@Mohammed90 Nope, not doing anything special like custom systemd.  I've scheduled an uninstall/reinstall of Caddy this weekend.

[2021-07-27 13:54] udf2457 commented on #63
@Mohammed90

Coming back to this question for a moment.

Could I ask, on the Debian 10 system you test on, how was your network configured ?  Via some sort of network manager or `/etc/network/interfaces` ?

My environment uses `/etc/network/interfaces` and it seems this can cause problems with systemd `network-online.target` (e.g. https://unix.stackexchange.com/questions/209832/debian-systemd-netw

[2021-07-27 14:01] francislavoie commented on #63
I'm pretty sure @Mohammed90 spun up a Debian VM on DigitalOcean to test it (correct me if I'm wrong), so whatever defaults that was configured with.

You're the only one whose reported this in the year and a half since we released Caddy v2, so we don't really have evidence that this is a wide-spread issue.

I think you should use `sudo systemctl edit caddy` to set up overrides to the service insta

[2021-07-27 14:03] udf2457 commented on #63
So this isn't a clean install of Debian ?  Its a package which might include things like NetworkManager to make it easier for users ?

Saying "I'm the only one" is unhelpful.  Maybe everyone else is using the magic cloud with ready-baked AMIs that might contain NetworkManagers ?

[2021-07-27 14:13] francislavoie commented on #63
Depends on your definition of "clean". That would be a clean installation _on DigitalOcean_ because that's the way they provide to spin up a Debian VPS. It wasn't clear before that you're doing it by hand in a VM from the ISO, that will probably make it easier to replicate.

What I was trying to get at is that if we can't replicate it, we can't do much to address the issue ourselves, so you're kin

[2021-07-27 14:16] udf2457 commented on #63
Huh ?

My definition of clean is pretty darn obvious.

You claim Debian compatability.

This means I should be able to download a Debian ISO from the Debian website, run a default install and Caddy operates correctly (including after reboot).

Relying on some third-party definition (e.g. DigitalOcean) of what is a "Debian Install" is just dumb.

[2021-07-27 21:07] Mohammed90 commented on #63
For the record, yes, I did what @francislavoie said, that is I deployed a DigitalOcean image.

That said, and to go the extra mile of investigation, (I took time off my homework) I downloaded the iso from here https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/, installed it into VirtualBox, installed Caddy, and rebooted it couple of times. This is a fresh install using an iso downloaded fr

[2021-07-27 22:31] #63 closed

[2021-08-10 20:56] pymnh opened #67 "please add license"
I am currently working on packaging Caddy for Debian.
IMO a lot of this repo should be packaged together with Caddy, but in order to include them in Debian they need a (free) license.
Also, I would be glad not to have to write them myself 😉

[2021-08-10 21:02] francislavoie commented on #67
Sure thing. #68

[2021-08-10 21:08] #67 closed

[2021-08-10 21:22] pymnh commented on #67
Thanks

Sure :)
I am tracking my work [here](https://salsa.debian.org/peymaneh/gsoc/-/issues?label_name%5B%5D=caddy), as one can see there is still some work to do but I'll ping you once its done

[2021-08-10 21:57] pymnh commented on #29
I will look into writing manpages, at least for cli-usage but ideally for also for config/caddyfile.

[2021-08-13 14:53] pymnh opened #69 "Please consider tagging dist repo in sync with caddy repo"
It would be very helpful for Debian packaging if caddyserver/dist was tagged in sync with caddyserver/caddy.

Debian packages contain a watch-file that defines patterns, urls and transfer methods (ftp, https, git...) for fetching a specified or the latest version of upstream source code from one or more download locations.

Right now, the watch file would define to download the release that matche

[2021-08-14 21:50] francislavoie commented on #65
So, looks like this is done @carlwgeorge @Conan-Kudo ?

[2021-08-14 21:51] francislavoie commented on #37
I'll close this as inactive.

[2021-08-14 21:51] #37 closed

[2021-08-14 21:52] francislavoie commented on #53
This looks resolved. Closing.

[2021-08-14 21:52] #53 closed

[2021-08-14 21:54] francislavoie commented on #69
In case you missed it @pymnh, this should be resolved by #70. Short of it is when a release is published on the main https://github.com/caddyserver/caddy repo, it'll trigger an action on this repo which will tag the latest on the master branch with the same version number.

[2021-08-14 23:32] Conan-Kudo commented on #65
Actually, we hadn't done a build of Caddy until now! 😅

I'm setting up the Leap 15.3 build now.

[2021-08-15 00:13] Conan-Kudo commented on #65
Leap 15.3 build of Caddy is now built: https://copr.fedorainfracloud.org/coprs/g/caddy/caddy/build/2521311/

I have deactivated Leap 15.2 accordingly and updated the COPR page.

[2021-08-15 00:13] #65 closed

[2021-08-15 06:45] pymnh commented on #69
awesome, thanks :)

[2021-08-16 22:05] #69 closed

[2021-08-18 17:40] quaggalinux opened #71 "Support init.d in apt repo"
For example the NGINX will put a initial script "nginx" in /etc/init.d/ as part of apt install.
Because the WSL v1 in windows does not have systemd, but WSL v1 can support service command and service command need the app to have initial script in /etc/init.d/ to use.

Thank you.

[2021-08-18 18:30] francislavoie commented on #71
I don't use `init.d` (nor do I think most of the other maintainers) so we would need help to write them.

[2021-08-29 10:11] pymnh commented on #29
Very useful. thanks

Small update on this:
I went on adding a `man` subcommand, like this:
[code]

`cmdMan` then itereates through `commands` and the main command and generates templates. Mostly works as intended, but I'm a total newbie to Go and need to familiarize myself with coding style and error handling before I submit a PR.

Is the general direction alright?

[2021-08-30 23:34] mholt commented on #29
That sounds like a good approach, yeah. I don't know much about generating man pages, but I suppose that's as good a way as any to do it.

Am trying to decide if this will be used enough to merit inclusion into the standard Caddy distribution or if it should be a third party plugin.

[2021-08-31 12:53] pymnh commented on #29
Makes sense, target users for this feature would be distribution maintainers only.

I have [opened a PR](caddyserver/caddy#4316) with my current draft, I guess it should work out to rewrite it as module. Just let me know

[2021-08-31 21:18] mholt commented on #29
Good point, so yeah, probably an external module.

[2021-09-01 17:47] ThinkChaos opened #72 "Docker doesn't have 2.4.4"
Hi, I'm not sure if this is the correct repo to report this, but v2.4.4 wasn't released on docker hub.

[2021-09-01 17:56] mholt commented on #72
It always takes a few days, and we're planning on releasing a hotfix in 2.4.5 soon anyway.

[2021-09-01 17:56] #72 closed

[2021-09-01 18:02] francislavoie commented on #72
The docker image is maintained in https://github.com/caddyserver/caddy-docker

We're delaying the Docker image release due to a somewhat critical bug we found after we released in v2.4.4, which will be fixed with v2.4.5. https://github.com/caddyserver/caddy/issues/4314

There's a bunch of manual steps involved in building and releasing new versions of the Docker image. We need to update https://gi

[2021-09-01 18:05] ThinkChaos commented on #72
Ok, thanks for the reply!

[2021-09-03 22:08] cinderblock commented on #62
In case anyone comes by here looking for the easy way to install the ARMv6 version of caddy:

1. Get the latest `.deb` file from releases
   - https://github.com/caddyserver/caddy/releases/download
2. Install it

#### Example

[code]

[2021-09-08 19:54] magynhard opened #74 "Updating caddy on ubuntu restores / replaces document root with default files"
Today it occured again, when i updated my ubuntu distro with
`sudo apt update && sudo apt upgrade`
[using the official repos](https://caddyserver.com/docs/install#debian-ubuntu-raspbian), there was also an caddy webserver update included from version `caddy:amd64 (2.4.3 => 2.4.5)`

The root dir in the Caddyfile is defined as
`/usr/share/caddy`
which is a symbolic link to the actual web project, in

[2021-09-08 20:06] francislavoie commented on #74
You shouldn't be using `/usr/share/caddy` for your own site. That's just the location we use to put the welcome page. It's not meant to be used by users.

A better place is either `/var/www/html` or `/srv`.

[2021-09-08 20:06] #74 closed

[2021-09-29 17:41] yodog opened #76 "support 'snap' as official installer"
i would like to suggest adding a `snap` container as a official install mode for Caddy.

[2021-09-29 17:43] mholt commented on #76
More likely it would be added as a community-maintained distribution (first). Official distributions require a lot of commitment and maintenance, and usually the person to propose that is the one who ends up maintaining that. We could add it to the website, though, if it works. https://caddyserver.com/docs/install

[2021-09-29 17:52] francislavoie commented on #76
Agreed, we could include it as "community maintained" at best. I'm personally not a fan of snaps for various reasons.

Your snap seems to use `caddy run --resume` by default -- most users use the Caddyfile instead for configuration.

You also have `confinement: strict` set which complicates serving static files.

[2021-10-04 19:08] yodog commented on #76
hello everyone.

there is a reason to use `--resume` here: i want caddy to always [re]start the daemon with the last config used.

this is how i'm using my snap (local, not published on snapcraft.io yet):

1- snap install caddy --classic (gives access to filesystem)
2- netstat shows 127.0.0.1:2019 being used (no port 80 or 443, which is good)
3- now i can start my server with `caddy reload --confi

[2021-10-04 19:12] yodog commented on #76
ex:

`sudo snap restart caddy-server.daemon`

[code]

[2021-10-04 19:17] francislavoie commented on #76
Using `resume` is not really compatible with using a Caddyfile, because then you end up with two potentially conflicting configurations: the `autosave.json` and the Caddyfile.

Typically, if you use the Caddyfile, you only use the Caddyfile, and you're unlikely to use the config API. There's no reason to use the `autosave.json` in that case.

That's why for the apt/rpm repos, we have two different

[2021-10-04 19:28] yodog commented on #76
i get what youre saying, but it just works for me...

well, lets say that im lucky and it shouldnt be working.

what changes do you propose to my snapcraft.yaml?

[2021-10-04 19:33] francislavoie commented on #76
As I said, I'd make it as similar to https://github.com/caddyserver/dist/blob/master/init/caddy.service as possible, i.e. run Caddy with `caddy run --environ --config /etc/caddy/Caddyfile`. This is closest to how most users expect it to work. With systemd, they can reload their config with `sudo systemctl caddy reload` which effectively just runs `caddy reload --config /etc/caddy/Caddyfile`.

Also

[2021-10-04 20:07] yodog commented on #76
the idea behind the snap is being ephemeral.
thats why im not packing a default Caddyfile and copying to /etc/.... like your systemd example.
they serve different purposes.

to illustrate, i started a `file_server` using my snap.
no problems at all.

[code]

![fileserver](https://user-images.githubusercontent.com/2393347/135916066-f3f939e6-5388-48b4-b0a4-858694fa7a95.png)

also, this snap allows a

[2021-10-26 06:51] adarshahd opened #78 "AARCH64 Copr Repo"
Dear Caddy team,

Request you to provide packages for aarch64 on your official Fedora/CentOS copr. Having hard time setting up caddy on aarch64 systems.

Regards,
Adarsha HD

[2021-10-26 23:55] #78 closed, assigned to Conan-Kudo, carlwgeorge

[2021-11-08 22:07] francislavoie commented on #54
I forgot to close this - we merged the instructions to do this to the docs some time ago: https://caddyserver.com/docs/build#package-support-files-for-custom-builds-for-debianubunturaspbian

Thanks for the help @caquino

[2021-11-08 22:07] #54 closed

[2021-11-20 04:43] francislavoie commented on #76
As mentioned above in https://github.com/caddyserver/dist/issues/76#issuecomment-930400822, I don't think there's appetite in supporting this as an official installer, but we can add it to the Install page in the docs. You can find the source for that page here: https://github.com/caddyserver/website/blob/master/src/docs/markdown/install.md. Feel free to make a PR to include it there.

Thanks for

[2021-11-20 04:43] #76 closed

[2021-11-20 04:51] francislavoie commented on #32
I think this is done, actually. The official Alpine package is being maintained by @mpolanski and @maxice8. Thanks!

[2021-11-20 04:51] #32 closed

[2022-02-24 08:54] waynon opened #80 "Add support for CentOS 9"
Currently, CentOS 9 Stream is not supported. Output of `dnf copr enable @caddy/caddy`:
[code]

[2022-02-24 17:59] carlwgeorge commented on #80
I've already done an EL9 compatible build.  I don't know why the `dnf copr` command is not working, there must be a bug in that dnf plugin.  In the meantime you can manually add the [repo definition](https://copr.fedorainfracloud.org/coprs/g/caddy/caddy/repo/epel-9/group_caddy-caddy-epel-9.repo) to your `/etc/yum.repos.d/` directory and get access to the EL9 packages.

[2022-02-24 17:59] #80 closed

[2022-02-24 18:13] carlwgeorge commented on #80
While asking about this in the `#fedora-buildsys` channel on Libera IRC, I was informed of another workaround instead of manually downloading the repo definition.  That command takes an optional chroot argument, so you can also run `dnf copr enable @caddy/caddy epel-9-$(arch)` to get the repo enable on C9S.  I am working on filing a bug report to get the behavior to match C8S, where it correctly p

[2022-02-25 05:25] carlwgeorge commented on #80
[Bug report filed](https://bugzilla.redhat.com/show_bug.cgi?id=2058471).

[2022-03-08 06:06] windware-ono opened #81 "Add `--pidfile` to the systemd unit file in the official package"
`--pidfile` option was added through https://github.com/caddyserver/caddy/issues/3235 but the option can only be specified through command line parameter which is not easy to do without modifying the systemd unit file, which is not practical when it gets overridden on package updates.

Can you add `--pidfile /var/run/caddy.pid` in the systemd unit file in the official package?

[2022-03-08 08:22] francislavoie commented on #81
FYI, you can easily add it to your systemd service by setting up an override. See here in the docs: https://caddyserver.com/docs/running#overrides

I don't feel equipped to make a decision about this right now, I'm not sure what the cons might be from making this change, whether it might impact any existing users negatively. So for now, probably best that you use the override as a workaround.

[2022-03-08 16:48] windware-ono commented on #81
Thanks for letting me know about the overrides.

However,  adding the following block within the override gives a permission denied error, presumably because the unit file has the executing user defined as `caddy` (but how does it bind to port 80 from a local user?) and `/var/run` is only `root` writeable.

[code]

and I went on to use `/tmp` as `--pidfile /tmp/caddy.pid` but this time, as [Privat

[2022-03-08 17:36] francislavoie commented on #81
Systemd has its own `PIDFile=` option, but it notes that it should be avoided by modern projects. https://www.freedesktop.org/software/systemd/man/systemd.service.html#PIDFile=

[2022-03-09 01:45] windware-ono commented on #81
I'm not sure I understand the `PIDFile=` option in systemd's documentation as it seems it simply doesn't work unless `Type=forking`, and with the following override, it doesn't create the file no matter where I specify it.

(Relative path indicates under `/run`, `/tmp/caddy.pid` also doesn't work)
[code]

It's probably tools like `monit` that needs to adapt to `systemd` as it's easy to get the PID

[2022-03-09 01:45] #81 closed

[2022-03-31 19:39] mohammed90 opened #82 "Use Built-in Manpage/Completion Commands"
The current rpm and deb packaging specs rely on the [bit-rot completion scripts which used a tool called completely](https://github.com/caddyserver/dist/tree/f19b56d/scripts/completions). The PR caddyserver/caddy#4565 adds the benefit of adding 2 commands to generate manpages and completions scripts for {bash,fish,zsh}. Once the PR lands, the packaging specs should be updated to use the commands t

[2022-05-17 14:28] SeanCansdale-Zoopla opened #83 "Errors when installing using the install guide"
We're seeing an error when attempting to install Caddy using the install steps for Debian etc.

[code]

Is there currently an issue with the public key?

[2022-05-17 14:44] francislavoie commented on #83
Oh... looks like CloudSmith changes the format of the `debian.deb.txt` file :grimacing:

It used to look like this:

[code]

Now it looks like this:

[code]

So I think we need to adjust our install script to write the GPG key elsewhere.

/cc @lskillen

[2022-05-17 14:46] francislavoie commented on #83
For now as a workaround, try this as the first step I suppose:

[code]

[2022-05-17 15:08] francislavoie commented on #83
Alright, I merged an update to the docs site in https://github.com/caddyserver/website/pull/219, just need @mholt to push it live as soon as he can.

[2022-05-17 15:15] SeanCansdale-Zoopla commented on #83
The fix works perfectly for us, thanks for the prompt reply and have a fantastic day!

[2022-05-17 15:25] RednaxelaAXX commented on #83
Thank you for your support, it works fine now.

[2022-05-17 15:40] lskillen commented on #83
Hey folks, Lee from @cloudsmith-io here. First of all, sorry for the breakage; that's never a fun thing to hear about. :-(

Talking to the team here and this change was made based on the previous `apt-key` usage being deprecated due to security issues (and then no longer supported on newer distributions going forward). It was likely a bit of a kneejerk reaction because of the impending impact, as

[2022-05-17 15:42] francislavoie commented on #83
No worried @lskillen, we've updated our instructions here already https://github.com/caddyserver/website/pull/219

Just would've been nice to have gotten an alert/email ahead of time to let us prepare a fix, but it's okay, the change makes sense :+1:

[2022-05-17 17:29] lskillen commented on #83
💯 That's an oversight on our part, and definitely not intentional. Normally we would communicate any change that may be breaking (it turns that in the artifact/package management world, almost everything is a breaking change!)

[2022-05-17 18:46] francislavoie commented on #83
Docs update is live: https://caddyserver.com/docs/install#debian-ubuntu-raspbian

[2022-05-17 18:46] #83 closed

[2022-05-17 18:52] mholt commented on #83
Hey @lskillen Thanks so much. (Sorry I was out sick for a few days.) We're very happy with Cloudsmith and would be able to help promote it more.

[2022-05-25 22:30] dzenilee commented on #83
Hi, I tried both the latest updated instructions on your website as well as the workaround mentioned above. I'm still getting the error about a missing public key. What could I be doing wrong?

[code]

[2022-05-25 22:35] francislavoie commented on #83
What version of ubuntu are you using @dzenilee? You might be using too old a version which doesn't support loading GPG keys the "new" way.

[2022-05-25 22:38] dzenilee commented on #83
Is 18 considered too old? 😬
[code]

[2022-05-25 22:39] francislavoie commented on #83
Yes. That's 4 years old. (18 = 2018)

[2022-05-25 22:39] mholt commented on #83
I believe it was added in 20.

[2022-05-26 00:20] dzenilee commented on #83
Finished upgrading to 20 and still having the same issue :/

[code]

[2022-05-26 00:36] francislavoie commented on #83
Seems like you ran into this: https://superuser.com/questions/1661762/gpg-warning-unsafe-ownership-on-homedir-home-user-gnupg

We're just following what everyone else is doing re `sudo gpg` :man_shrugging:

That should be fine...

Try running this:

[code]

You should see the same output, notice the subkey has `ABA1 F9B8 875A 6661` at the end which matches the fingerprint in the error you got.

[2022-05-26 01:00] dzenilee commented on #83
I did get the same output:
[code]

Spending too much time on this...I just decided to download the binary from https://caddyserver.com/download and it seemed to work. 🤷‍♀️  Thanks for trying to help.
[code]

[2022-07-29 22:06] adaptive-shield-matrix commented on #83
Im having the same issue

using/following official installation instructions

[code]

overwriting / updating gpg key
[code]

doing
apt update
[code]

running debian stable
uname -a
[code]

[2022-08-05 06:57] xenzun commented on #83
Yup, same issue here, ubuntu 20.04

<img width="991" alt="image" src="https://user-images.githubusercontent.com/110156287/183019936-a41a32b5-e101-4c56-861f-840bdd7ea9d6.png">

[2022-08-05 16:22] mholt commented on #83
I don't know why that's happening; works for me. I even just did it with a client yesterday on a fresh Ubuntu install, no problems.

[2022-08-08 02:30] xenzun commented on #83
ended up with download binary from caddy, it works. But im not sure it will be different or not (?)

[2022-08-08 12:47] s-demp commented on #83
I'm having the same problem using ubuntu 2004 in AWS

Tried using both of these but neither helps with AWS:

[code]

Build works fine in both Azure and GCP so I don't know what is different with AWS.

**Log**
[code]

[2022-08-15 09:11] adaptive-shield-matrix commented on #83
I found a solution.
[code]
The problem was: executing the install script as root -> sets restrictive file permissions, which `apt` can't use

[2022-09-15 20:16] romeolandry commented on #83
Please I need Help, I have the same Issue following the instruction in to the [documentation](https://caddyserver.com/docs/install#debian-ubuntu-raspbian).
**System Information**
`No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 10 (buster)
Release:	10
Codename:	buster`

**Error**
`Err:12 https://dl.cloudsmith.io/public/caddy/stable/deb/debian any-version InReleas

[2022-09-15 20:20] francislavoie commented on #83
@lskillen do have any idea why this might happen? We're completely at a loss here. Clearly it happens for many users, but we aren't able to reproduce it ourselves.

[2022-09-15 21:20] romeolandry commented on #83
I don't have any idea.
I update debian-version to the last version and still get the same error. this Debian-Instans is running on [Hertzner](https://www.hetzner.com).

`No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 11 (bullseye)
Release:	11
Codename:	bullseye`

I try the same installation on my local computer it work-well.

`Distributor ID:	Ubuntu
Description:

[2022-09-15 21:47] lskillen commented on #83
👀 Going to ask the team to have a look. I tried the standard route and it was fine (Ubuntu 20.10).

Then I decided I would be a bit more manual and use gpg directly to see what it reports.

**Verifying without the public key**:

[code]

**Importing the key:**

[code]

**Verifying with the public key:**

[code]

- Primary key: `155B6D79CA56EA34` which matches `155B 6D79 CA56 EA34` above.
- Sub key:

[2022-09-15 21:59] adaptive-shield-matrix commented on #83
I can confirm that
"Some people have stated that running the commands as root breaks the key, and a chmod 664 is required on the key."
fixed it for me (was running the script as root).

[2022-11-05 20:07] fahrradflucht opened #90 "Release 2.6.2 to copr."
Hey it would be great if someone could ship the latest Caddy version to Copr. Besides other bugs, in the current Copr version (2.6.1) certs don't renew if people don't have an issuer set explicitly, which is a pretty big gotcha if people upgrade 😬.

[2022-11-05 20:44] francislavoie commented on #90
This is handled by @carlwgeorge and @Conan-Kudo.

[2022-11-06 03:22] carlwgeorge commented on #90
Thanks for the heads up.  I updated the copr to version 2.6.2.

https://copr.fedorainfracloud.org/coprs/g/caddy/caddy/build/5019565/

[2022-11-06 03:22] #90 closed

[2022-11-06 07:02] mholt commented on #90
Thank you Carl!! Really appreciate all you do 😊

[2022-11-16 10:05] ZackWard commented on #83
I also ran into this issue. My environment was a new Ubuntu 22.04 LXC container running in Proxmox. I was logged in as root.

In my case, it may have been a copy/paste error. I copied/pasted the commands from the docs:
[code]

I omitted `sudo` on the first line. I didn't notice the `sudo` on lines 2 and 3, so I copy/pasted those lines as-is. I omitted `sudo` from line 4.

That produced the followi

[2022-11-17 11:20] andreasnuesslein opened #91 "ubuntu package providing `httpd` (like nginx, apache and lighttpd)"
I was wondering if it was possible to add a "provides: nginx" or something like this to the caddy ubuntu packages?

Some packages require something like this:
[code]

obviously the better solution would be to ask `zammad` to add `|Depends: caddy` to that block, but a) they have like >400 open issues on github, so I think that'd take longer and b) there might be other packages out there that would

[2022-11-23 09:43] andreasnuesslein commented on #91
I totally agree that _many_ of the debian-packaging decisions are rather questionable. And I remember Gentoo having some waaay nicer foundations for their packages-logic. But still we live in a world where debian/ubuntu is quite predominant and I doubt that we can petition them to change their logic with this anytime soon :S